<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>

<style>
.divcss1-scroll {
	margin-top: 30px;
	position: absolute;
	left: 80px;
	top: 50px border-style:double;
	border: 2px double #000;
	height: 85%;
	width: 90%;
}

.input-group-text {
	text-align: center;
	width: 90px;
	height: 37.68px;
}

.form-control {
	width: 240px;
	height: 37.68px;
}
</style>
<body>
	<div class="divcss1-scroll">

		<div th:each="info : ${userInfo}"
			style="position: relative; left: 353px; padding-top: 20px;">
			<form th:action="@{/InfoEdit/{id}(id=${info?.userId})}" method="POST">
				<div class="col-md-5">
					<h1>詳細／編集</h1>
					<div class="input-group mb-4" style="display: none">
						<span class="input-group-text" id="basic-addon0">名前</span> <input
							type="text" class="form-control" name="userId"
							placeholder="userId" aria-label="userId"
							aria-describedby="basic-addon0" th:value="${info?.userId}">
					</div>
					<div class="input-group mb-4">
						<span class="input-group-text" id="basic-addon1">名前</span> <input
							type="text" class="form-control" name="name" placeholder="name"
							aria-label="name" aria-describedby="basic-addon1"
							th:value="${info?.name}">
					</div>
					<div class="input-group mb-4">
						<span class="input-group-text" id="basic-addon3">性別</span> <input
							type="text" class="form-control" name="sex" placeholder="sex"
							aria-label="sex" aria-describedby="basic-addon3"
							th:value="${info?.sex}">
					</div>
					<div class="input-group mb-4">
						<span class="input-group-text" id="basic-addon2">生年月日</span> <input
							type="date" class="form-control" name="birthday"
							placeholder="birthday" aria-label="birthday"
							aria-describedby="basic-addon2" th:value="${info?.birthday}">
					</div>
					<div class="input-group mb-4">
						<span class="input-group-text" id="basic-addon3">郵便番号</span> <input
							type="text" class="form-control" name="postnumber"
							placeholder="postnumber" aria-label="postnumber"
							aria-describedby="basic-addon3" th:value="${info?.postnumber}">
					</div>
					<div class="input-group mb-4">
						<span class="input-group-text" id="basic-addon3">住所</span>
						<textarea class="form-control" th:type="text" name="address"
							placeholder="address" aria-label="address"
							aria-describedby="basic-addon3" th:text="${info?.address}">
						</textarea>
					</div>
				</div>
				<div style="position: relative; left: 180px; padding-top: 10px;">
					<button type="reset" value="reset" class="btn btn-warning">reset</button>

					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary"
						data-bs-toggle="modal" data-bs-target="#exampleModal">更新</button>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true"
					style="text-align: center;">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="mm">
								<h5 class="modal-title" id="exampleModalLabel">操作提示</h5>

							</div>
							<hr>
							<div class="modal-body">保存してもよろしいですか？</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"
									data-bs-dismiss="modal"
									style="position: relative; right: 200px">Cancel</button>
								<button type="submit" class="btn btn-primary"
									style="position: relative; right: 160px">ok</button>
							</div>
						</div>
					</div>
				</div>

			</form>

		</div>

	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
		integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
		crossorigin="anonymous"></script>
</body>
</html>